<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <script src="../js/slider.js" type="text/javascript" defer></script>
    <script src="js/add.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png" />
    <title>Document</title>
</head>

<body>

    <nav-component></nav-component>

    <div>
        <h1 id="admin_text">Admin</h1>
    </div>

    <div class="add/remov">
        <button style="padding-bottom: 50px; padding-top: 50px;" onclick="add()">Add products</button>
        <button style="padding-bottom: 50px; padding-top: 50px;">remove products</button>
    </div>

    <div class="adding_product" >
        <form method="post" action="/admin" >
            <p>
                <label> Product name </label>
                <input class="" type="text" placeholder="name" >
            </p>
            <p>
                <label> Product description </label>
                <input class="" type="text" >
            </p>
            <p>
                <label> Product price </label>
                <input class="" type="text">
            </p>
            <p>
                <label>Product img</label>
                <input class="" type="file">
            </p>

        
        </form>
    </div>

    <div class="grid-wrapper" id="s-cards">

        <!-- RÖR KANSKE EJ -->
        <% for (var i=0; i<data.length; i++){ %>
            <div class="cards">
                <img src="../img/<%=data[i].name%>.png" alt="">
                <div>
                    <span class="t1">
                        <%=data[i].name%>
                    </span>
                    <hr>
                    <span>
                        <%=data[i].price%>kr
                    </span>
                    <span class="card-info">
                        <%=data[i].description%>
                    </span>
                </div>
                <a class="rm" href="<%-data[i].name%>">Läs mer</a>
            </div>
            <%}%>

                <% for (var i=0; i<bookingdata.length; i++){ %>
                    <div class="cards">
                        <img src="../img/<%=bookingdata[i].name%>.png" alt="">
                        <div>
                            <span class="t1">
                                <%=bookingdata[i].name%>
                            </span>
                            <hr>
                            <span>
                                <%=bookingdata[i].price%>kr
                            </span>
                            <span class="card-info">
                                <%=bookingdata[i].description%>
                            </span>
                        </div>
                        <a class="rm" href="<%-bookingdata[i].name%>">Läs mer</a>
                        <%}%>

                            <div id="s2">

                            </div>

                    </div>
    </div>

    <script>
        function add(){
            document.querySelector('.cards').hidden = true;
        }
    </script>


</body>

</html>