doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../css/header.css')
    link(rel='stylesheet' href='../css/footer.css')
    link(rel='stylesheet' href='../css/register.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' rel='stylesheet')
    script(src='../js/nav.js' type='text/javascript' defer='')
    script(src='../js/footer.js' type='text/javascript' defer='')
    script(src='../js/login_register.js' type='text/javascript' defer='')
    link(rel='shortcut icon' href='../img/Logo.png')
    title Web-DHS
  body
    nav-component
    .grid-wrapper 
      .register
        h1 Registrera dig
        form(action='/routes/registerconf.js')
          p
            label(for='username')
              img(src='../img/user.png' alt='')
            input#username(type='text' name='username' placeholder='Skriv in ditt användarnamn här' required='' value=username)
          p
            label(for='email')
              img(src='../img/mail.png' alt='')
            input#email(type='email' name='email' placeholder='Skriv din email här' required='' value=email)
          p
            label(for='password')
              img(src='../img/lock.png' id='' alt='')
            input#password(type='password' name='password' placeholder='Skriv in ditt lösenord här' required='' value=password)
          button(type='submit' onclick=`register(${username}, ${email}, ${password})`) Registrera dig
          p 
            a(href='login') Logga in
