<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="../js/nav.js" type="text/javascript" defer></script>
    <script src="../js/footer.js" type="text/javascript" defer></script>
    <script src="../js/slider.js" type="text/javascript" defer></script>
    <script src="js/add.js" type="text/javascript" defer></script>
    <link rel="shortcut icon" href="../img/Logo.png"/>
    <title>Web-DHS</title>
</head>
<body>
 
    <nav-component></nav-component>

    <main>
       
        <!-- <div>
             <div class="heading"> <h1>Våra tjänster</h1> </div>
             <div class="subheading"> <h2>Vi erbjuder 3 olika tjänster, baspaketet, premiumpaketet och webhosting. 
                Webhosting är en månadsprenumeration för att hemsidan 
                ska finnas på internet och få fortsatt support</h2> </div>
        </div> -->

        <div class="banner">
            <img src="../img/pexels-template-pic.jpg" alt="">
            <div class="banner-text">
                <h1>Högkvalitativa hemsidor för låga pris</h1>
                <h2>"Alla Företag ska ha råd med en bra hemsida oavsett storlek på plånboken."</h2>
            </div>
        </div>
        
        <hr class="hrline" color="lightgrey">
        
        <div class="services">
            <h1>Våra Tjänster</h1>
        </div>

    <div class="grid-wrapper" id="s-cards">

            <!-- RÖR KANSKE EJ -->
        <% for (var i=0; i<data.length; i++){ %>
                <div class="cards">
                    <img src="../uploads/<%=data[i].name%>.png" alt="">
                    <div>
                        <span class="t1"><%=data[i].name%></span>
                        <hr>
                        <span><%=data[i].price%>kr</span>
                        <span class="card-info"><%=data[i].description%></span>
                        </div>
                    <a class="rm" href="<%-data[i].name%>">Läs mer</a>
                    <%var cartItemsString = JSON.stringify(data[i])%>

                    <span>
                    <button class="add" onclick='addtocart(<%-cartItemsString%>, <%-login%>)'>
                        <img src="../img/add-cart.png" alt=""> 
                        <p>Add to cart</p>
                    </span>
                </div>
            <%}%>

            <% for (var i=0; i<bookingdata.length; i++){ %>
                <div class="cards">
                    <img src="../uploads/<%=bookingdata[i].name%>.png" alt="">
                    <div>
                        <span class="t1"><%=bookingdata[i].name%></span>
                        <hr>
                        <span><%=bookingdata[i].price%>kr</span>
                        <span class="card-info"><%=bookingdata[i].description%></span>
                        </div>
                        <a class="rm" href="<%-bookingdata[i].name%>">Läs mer</a>
                </div>
                <%}%>

                <div id="s2">

                </div>
            
            </div>
        </div>
    </main>

    <footer-component></footer-component>

</body>
</html>